.home {
  height: 100%;

  .box__style {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;

    &__home {
      background-color: var(--color-two);
      border: none;
      border-radius: 10px;
      margin: 0;
      padding: 0;
      //box-shadow: 0 0 10px 10px rgba(255,255,255,0.1);

      //background-color: black;

      &:hover {
        background-color: var(--color-three);
        //transform: scale(1.5);
      }

      &__but {
        text-decoration: none;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
        color: var(--color-one);
      }
    }

    &__1 {
      //background-color: #6f42c1;
    }
    &__2 {
      //background-color: #721c24;
    }
  }
}





