.blackjack {
  height: 100%;
}
.blackjack .spielflaeche .row {
  height: calc((100vh - 191px) / 3);
}
.blackjack .ergebnis {
  display: inline-grid;
  justify-content: center;
  align-items: center;
}
.blackjack .ergebnis .all .box-style {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blackjack .result {
  display: inline-flex;
}
.blackjack #spielerAuflistung .box-style {
  height: calc((100vh - 480px) / 2);
}
.blackjack #spielerAuflistung .box-style td {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blackjack #spielerAuflistung .table {
  pointer-events: none;
  margin: 5px;
  font-size: 15px;
  max-height: calc((100vh - 275px) / 2);
}
.blackjack #spielerAuflistung .karteSpieler {
  background-color: var(--color-card);
  color: var(--color-one);
  width: 100px;
  height: 140px;
  border-radius: 15px;
  font-size: 81px;
  text-align: center;
}
.blackjack #spielerWert {
  max-height: calc((100vh - 191px)/3);
}
.blackjack #spielerWert .box-style {
  width: 100%;
}
.blackjack #croupierAuflistung .box-style {
  height: calc((100vh - 480px) / 2);
}
.blackjack #croupierAuflistung .box-style td {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blackjack #croupierAuflistung .table {
  pointer-events: none;
  margin: 5px;
  font-size: 15px;
  max-height: calc((100vh - 275px) / 2);
}
.blackjack #croupierAuflistung .karteDealer {
  background-color: var(--color-card);
  color: var(--color-one);
  width: 100px;
  height: 140px;
  border-radius: 15px;
  font-size: 81px;
  text-align: center;
}
.blackjack #croupierWert {
  max-height: calc((100vh - 191px) / 3);
}
.blackjack #croupierWert .box-style {
  width: 100%;
}
.blackjack #anzeige {
  height: 99px;
}
.blackjack .table {
  margin: 0;
  color: var(--color-one);
}
.blackjack .table td, .blackjack .table th {
  border-top: none;
}
.blackjack .all {
  display: flex;
  justify-content: start;
}
.blackjack .box-style {
  margin: 10px;
  width: auto;
  border-radius: 10px;
}
.blackjack .wrapper {
  padding: 0;
  margin: 0;
}
.blackjack .wrapper .pot {
  display: flow-root;
  justify-content: center;
  align-items: center;
}
.blackjack .wrapper .pot__buttons {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blackjack .wrapper .pot__buttons__but {
  height: 65px;
  width: 80px;
  color: var(--color-one);
  display: flex;
  margin: 2px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-two);
  border: none;
  outline: none;
  border-radius: 5px;
}
.blackjack .wrapper .pot .row {
  height: calc(((100vh - 191px) / 5)/2);
}
.blackjack .wrapper .pot h1 {
  font-size: 25px;
}
.blackjack .wrapper .row {
  height: calc((100vh - 191px) / 5);
}
.blackjack .wrapper .row .error_msg {
  font-size: 30px;
}
.blackjack .wrapper__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blackjack .wrapper__inner__button {
  height: 80px;
  width: 120px;
  color: var(--color-one);
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-two);
  border: none;
  outline: none;
  border-radius: 5px;
}

.home {
  height: 100%;
}
.home .box__style {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}
.home .box__style__home {
  background-color: var(--color-two);
  border: none;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  box-shadow: 0 8px 6px -6px var(--main-bg-color);
}
.home .box__style__home__but {
  text-decoration: none;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: var(--color-one);
}

.placeholder {
  height: 100%;
}

:root {
  --main-bg-color: #151515;
  --color-one: #7e1010;
  --color-two: rgba(0, 0, 0, 0.1);
  --color-card: #bf1e1e;
}

.light {
  --main-bg-color: #094d75;
  --color-one: #ffd700;
  --color-two: rgba(255, 255, 255, 0.1);
  --color-card: #f1dd81;
}

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/fontawesome-webfont.ttf") format("truetype");
}
body {
  background-color: var(--main-bg-color);
  color: var(--color-one);
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Comic Sans MS", serif;
}
body .row {
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid var(--color-one);
  height: 90px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  color: var(--color-one);
}
header .row {
  height: 35px;
}
header .button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
header .button__exit {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  user-select: none;
}
header .button__exit:hover {
  background-color: var(--color-one);
}
header .button__min {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  user-select: none;
}
header .button__min:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
header .button__max {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  user-select: none;
}
header .button__max:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
header .button__small {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  user-select: none;
}
header .button__small:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header div .message h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
}

menu {
  height: 50px;
  padding: 0;
  margin: 0;
  width: 100%;
}
menu .but {
  float: left;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 50px;
  border: none;
  width: 156px;
  padding-top: 6px;
  cursor: pointer;
  font-size: 50px;
  color: #ADADAD;
  display: inline-block;
}
menu .but .col-md-1 {
  padding: 0;
  margin: 0;
}
menu .but:hover .bar2 {
  width: 25px;
}
menu .but:hover .bar4 {
  opacity: 1;
  width: 14px;
  height: 5px;
  background-color: var(--color-one);
  margin: 6px 56px;
  text-align: center;
  transform: rotate(45deg) translate(6px, -33px);
}
menu .but:hover .bar5 {
  opacity: 1;
  width: 14px;
  height: 5px;
  background-color: var(--color-one);
  margin: 6px 56px;
  text-align: center;
  transform: rotate(-45deg) translate(46px, -7px);
}
menu .but .bar1, menu .but .bar2, menu .but .bar3 {
  width: 32px;
  height: 5px;
  background-color: var(--color-one);
  margin: 6px 56px;
  text-align: center;
}
menu .but .bar4 {
  opacity: 1;
  width: 15px;
  height: 5px;
  background-color: var(--color-one);
  margin: 6px 56px;
  text-align: center;
  transform: rotate(90deg) translate(-28px, -30px);
}
menu .but .bar5 {
  opacity: 1;
  width: 15px;
  height: 5px;
  background-color: var(--color-one);
  margin: 6px 56px;
  text-align: center;
  transform: rotate(90deg) translate(-27px, -30px);
}
menu label {
  font-size: 30px;
  padding-left: 5px;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
menu label .icon_fa {
  font-family: FontAwesome;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f09020;
}
menu label input {
  opacity: 0;
  width: 0;
  height: 0;
}

main {
  height: calc(100vh - 191px);
}

footer {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
