:root {
  --main-bg-color: #121212;
  --color-one: #123456;
  --color-two: rgba(255,255,255,0.02);
  --color-three: rgba(255,255,255, 0.1);
  --color-karte: #ffffff;
}

.light {
  --main-bg-color: #ffffff;
  --color-one: #ADADAD;
  --color-two: rgba(0, 0, 0, 0.02);
  --color-three: rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/fontawesome-webfont.ttf") format("truetype");
}
body {
  background-color: var(--main-bg-color);
  color: var(--color-one);
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Comic Sans MS", serif;
}
body .row {
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid var(--color-one);
  height: 90px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  color: var(--color-one);
}
header .result {
  display: flex;
  justify-content: left;
  align-items: center;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header div h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
}

menu {
  height: 50px;
  padding: 0;
  margin: 0 10%;
}
menu .but {
  float: left;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 50px;
  border: none;
  width: 156px;
  padding-top: 6px;
  cursor: pointer;
  font-size: 50px;
  color: #ADADAD;
  display: inline-block;
}
menu .but .col-md-1 {
  padding: 0;
  margin: 0;
}
menu .but:hover .bar2 {
  width: 25px;
}
menu .but:hover .bar4 {
  opacity: 1;
  width: 14px;
  height: 5px;
  background-color: var(--color-one);
  margin: 6px 56px;
  text-align: center;
  transform: rotate(45deg) translate(6px, -33px);
}
menu .but:hover .bar5 {
  opacity: 1;
  width: 14px;
  height: 5px;
  background-color: var(--color-one);
  margin: 6px 56px;
  text-align: center;
  transform: rotate(-45deg) translate(46px, -7px);
}
menu .but .bar1, menu .but .bar2, menu .but .bar3 {
  width: 32px;
  height: 5px;
  background-color: var(--color-one);
  margin: 6px 56px;
  text-align: center;
}
menu .but .bar4 {
  opacity: 1;
  width: 15px;
  height: 5px;
  background-color: var(--color-one);
  margin: 6px 56px;
  text-align: center;
  transform: rotate(90deg) translate(-28px, -30px);
}
menu .but .bar5 {
  opacity: 1;
  width: 15px;
  height: 5px;
  background-color: var(--color-one);
  margin: 6px 56px;
  text-align: center;
  transform: rotate(90deg) translate(-27px, -30px);
}

main {
  height: calc(100vh - 191px);
  background-color: pink;
}
main .spielflaeche {
  background-color: #0f6674;
}
main .spielflaeche .row {
  height: calc((100vh - 191px)/3);
}
main #spielerAuflistung .box-style {
  height: calc((100vh - 480px)/2);
}
main #spielerAuflistung .table {
  pointer-events: none;
  margin: 5px;
  font-size: 15px;
  max-height: calc((100vh - 275px)/2);
}
main #spielerAuflistung .karteSpieler {
  background-color: var(--color-one);
  width: 100px;
  height: 140px;
  border-radius: 15px;
  font-size: 81px;
  text-align: center;
  color: var(--color-two);
}
main #spielerWert {
  max-height: calc((100vh - 191px)/3);
}
main #croupierAuflistung .box-style {
  height: calc((100vh - 480px)/2);
}
main #croupierAuflistung .table {
  pointer-events: none;
  margin: 5px;
  font-size: 15px;
  max-height: calc((100vh - 275px)/2);
}
main #croupierAuflistung .karteDealer {
  background-color: var(--color-one);
  width: 86px;
  height: 120px;
  border-radius: 15px;
  font-size: 65px;
  text-align: center;
  color: var(--color-two);
}
main #croupierWert {
  max-height: calc((100vh - 199px)/4);
}
main #anzeige {
  border: 1px solid var(--color-one);
  border-radius: 10px;
  height: 99px;
  margin-top: 112px;
  margin-left: 1312px;
}
main .table {
  margin: 0;
  color: var(--color-one);
}
main .table td, main .table th {
  border-top: none;
}
main .all {
  display: flex;
  justify-content: space-around;
}
main .box-style {
  background-color: var(--color-two);
  margin: 10px;
  width: 100%;
  border-radius: 10px;
}
main .wrapper {
  padding: 0;
  margin: 0;
}
main .wrapper .row {
  height: calc((100vh - 191px)/5);
}
main .wrapper__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .wrapper__inner .button {
  height: 80px;
  width: 120px;
  color: var(--main-bg-color);
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  background-color: var(--color-one);
  border: none;
  border-radius: 5px;
}
main .wrapper__inner .button:hover {
  background-color: var(--color-three);
}

footer {
  background-color: var(--main-bg-color);
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px dotted var(--color-one);
}
footer label {
  font-size: 30px;
  padding-left: 5px;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer label .icon_fa {
  font-family: FontAwesome;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f09020;
}
footer label input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*# sourceMappingURL=style-bj.css.map */
