/*  COLOR SCHEME  */
/*     #2E1114    */
/*     #501B1D    */
/*     #64485C    */
/*     #83677B    */
/*     #ADADAD    */

/*---  ALLGEMEIN  ----------------------*/
body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    width: 100%;
    /*font-family: 'Comic Sans MS', serif;*/
}

header {
    border-top: 1px solid #ADADAD;
    border-bottom: 1px solid #ADADAD;
    height: 94px;
    margin: 0;
    position: relative;
    overflow: hidden;
    align-content: center;
}
header h1 {
    text-decoration: underline black;
}

menu {
    height:50px;
    padding: 0;
    margin: 0 10%;
}
footer {
    background-color: #272727;
    height: 55px;
    margin: 0 10%;
    border-top: 1px dotted black;
}
/*--------------------------------------*/

/*---  ID  -----------------------------*/
#spielfeld, #anleitung, #anleitung table{
    height:calc(100vh - 199px);
}
#anleitung.col-md-1{
    padding: 0;
}
#spielflaeche .row {
    height: calc((100vh - 199px)/4);
}
#buttons .row{
    height: calc((100vh - 199px)/5);
}
#demo{
    padding: 0;
}
#spielerAuflistung .box-style, #croupierAuflistung .box-style {
    height: calc((100vh - 275px)/2);
    box-shadow: 0 0 0 0;
}
#spielerAuflistung .table, #croupierAuflistung .table{
    margin: 5px;
    font-size: 15px;
    max-height: calc((100vh - 275px)/2);
}
#spielerWert, #croupierWert, #demo {
    max-height: calc((100vh - 199px)/4);
}

/*--------------------------------------*/

/*---  CLASS  --------------------------*/
.carousel-inner img {
    width: 100%;
    height: calc((100vh - 275px)/4);
    border-radius: 10px;
}
.table {
    padding: 0;
    margin: 0;
}
.all{
    display: flex;
    justify-content: space-around;
}
.box-style {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #b1b1b1;
}


/*--------------------------------------*/

/*---  MENU  ---------------------------*/
li, menu .but {
    float: left;
    border-top: 1px solid #ADADAD;
    border-bottom: 1px solid #ADADAD;;
    border-right: 1px solid #ADADAD;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}
li a{
    display: block;
    color: #ADADAD;
    text-align: center;
    padding: 14px 0;
    margin: 0;
    text-decoration: none;
}
li a:hover {
    color: rgba(0,0,0,1);
    text-decoration: none;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
li.col-md-1, menu .but .col-md-1 {
    padding: 0;
    margin: 0;
}
menu .but {
    border:none;
    width: 156px;
    padding-top: 6px;
    cursor: pointer;
    font-size: 50px;
    color: #ADADAD;
    display: inline-block;
}
.change .but {
    border: none;
    background-color: black;
}

.bar1, .bar2, .bar3 {
    width: 32px;
    height: 5px;
    background-color: #ADADAD;
    margin: 6px 56px;
    text-align: center;
}
.change .bar2 {
    width: 25px;
}

.bar4, .bar5{
    opacity: 1;
    width: 15px;
    height: 5px;
    background-color: #ADADAD;
    margin: 6px 56px;
    text-align: center;
}
.bar4 {
    transform: rotate(90deg) translate(-28px, -30px);
}
.bar5 {
    transform: rotate(90deg) translate(-27px, -30px);
}
.change .bar4, .change .bar5 {
    opacity: 1;
    width: 14px;
    height: 5px;
    background-color: #ADADAD;
    margin: 6px 56px;
    text-align: center;
}
.change .bar4 {
    transform: rotate(45deg) translate(6px, -33px);
}
.change .bar5 {
    transform: rotate(-45deg) translate(46px, -7px);
}
.menu-bar {
    display: flex;
    width: 0;
    position: initial;
    overflow: auto;
    padding: 0;
    z-index: 1;
    opacity: 1;
    transition: all 0.5s ease;
}
.show {
    width: calc(100vw - 156px);
    opacity: 1;
}
/*--------------------------------------*/


/*---  BUTTON DESIGN  ------------------*/
.button {
    height: 80px;
    width: 120px;
    color: #4a4a4a;
    display: flex;
    margin: 10px;
    /*width: 100%;*/
    justify-content: space-around;
    border: none;
    text-align: center;
    background-color: #bbbbbb;
}
.button:hover {
    background-color: #4a4a4a;
    color: #bbbbbb;
}
/*--------------------------------------*/
/*---   Home   -------------------------*/
.home {
    border:none;
    margin-top: 125px;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.home:hover .box-style-home,.home:hover .homebut{
    text-decoration: none;
    color: #adadad;
    transform: scale(1.5);
}
.box-style-home {
    background-color: rgba(237, 237, 237, 0.5);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px grey;
}
.home-body {
    background-color: #ffffff;
}
.homebut {
    text-decoration: none;
    width: 290px;
    height: 198px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin: 0;
    font-size: 45px;
    color: #adadad;
}
.menu-home{
    background-color: #272727;
    border-top: 1px dotted black;
}