.blackjack {
  background-color: #0f6473;
  height: 100%;

  .spielflaeche {
    .row {
      height: calc((100vh - 191px)/3);
    }
  }

  #spielerAuflistung {
    .box-style {
      height: calc((100vh - 480px)/2);
    }
    .table {
      pointer-events: none;
      margin: 5px;
      font-size: 15px;
      max-height: calc((100vh - 275px)/2);
    }

    .karteSpieler {
      background-color: var(--color-one);
      width: 100px;
      height: 140px;
      border-radius: 15px;
      font-size: 81px;
      text-align: center;
      color: var(--color-two);
    }
  }

  #spielerWert {
    max-height: calc((100vh - 191px)/3);
  }



  #croupierAuflistung {
    .box-style {
      height: calc((100vh - 480px)/2);
    }
    .table {
      pointer-events: none;
      margin: 5px;
      font-size: 15px;
      max-height: calc((100vh - 275px)/2);
    }

    .karteDealer {
      background-color: var(--color-one);
      width: 86px;
      height:120px;
      border-radius: 15px;
      font-size: 65px;
      text-align: center;
      color: var(--color-two);
    }
  }

  #croupierWert {
    max-height: calc((100vh - 199px)/4);
  }




  #anzeige {
    border: 1px solid var(--color-one);
    border-radius: 10px;
    height: 99px;
    margin-top: 112px;
    margin-left: 1312px;
  }

  .table {
    margin: 0;
    color: var(--color-one);

    td, th {
      border-top: none;
    }
  }

  .all {
    display: flex;
    justify-content: space-around;
  }

  .box-style {
    background-color: var(--color-two);
    //background-color: green;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
  }




  .wrapper {

    padding: 0;
    margin: 0;


    .row{
      height: calc((100vh - 191px)/5);
    }

    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;

      .button {
        height: 80px;
        width: 120px;
        color: var(--main-bg-color);
        display: flex;
        margin: 10px;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        background-color: var(--color-one);
        border: none;
        border-radius: 5px;

        &:hover {
          background-color: var(--color-three);
        }
      }
    }
  }
}








