<header th:fragement="header">
    <div class="row button">
            <button class="button__min" @click="minimize">-</button>
            <button class="button__small" @click="verkleinern" v-if="!max">o</button>
            <button class="button__max" @click="maximize" v-if="max">O</button>
            <button class="button__exit" @click="exit">X</button>
    </div>
    <div class="row message">
        <div class="offset-6 col-2" id="message">
            <h1>{{message}}</h1>
        </div>
    </div>
</header>
