<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head"></head>

<body class="" th:classappend="${isLightTheme} ? light">
<div id="body" class=".container">

    <header th:replace="fragments/header" class="row"></header>

    <menu th:replace="fragments/menu"></menu>


    <main th:fragment="blackjack" id="spielfeld">
        <div  class="row blackjack">
            <div id="spielflaeche" class="col-9 spielflaeche" >
                <div class="row 1" v-if="!ende">
                    <div id="spielerWert" class="col-3 all">
                        <div class="box-style" style="text-align: center">
                            <div style="font-size: 35px">Spieler Wert:</div>
                            <h1 style="font-size: 150px">{{wertSpieler}}</h1>
                        </div>
                    </div>


                    <div id="spielerAuflistung" class="col-9 all">
                        <div class="box-style">
                            <table class="table table-hover">
                                <tr>
                                    <th style="text-decoration: underline; text-decoration-style: solid; font-size: 30px">Karten Spieler</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="karteSpieler" v-for="karte in kartenSpieler" style="margin-right: 15px;">{{karte}}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row 2" v-if="!ende">
                    <div class="offset-8 col-4 ergebnis">
                        <div id="lastGame" class="result">
                            <h2>Last Games: </h2><h3 v-for="game in lastGame">&nbsp;{{game}}</h3>
                        </div>

                        <div id="anzeige" class=" all">
                            <div class="box-style">
                                <h1 style="font-size: 58px">{{ergebnis}}</h1>
                            </div>
                        </div>
                    </div>


                    <!--                <div id="anzahlCredits" class="col-md-2 all" >-->
                    <!--                    <div class="box-style" style="display:flex">-->
                    <!--                        <h1 style="font-size: 30px">#credits</h1>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                </div>

                <div class="row 3" v-if="!ende">
                    <div id="croupierWert" class="col-3 all">
                        <div class="box-style" style="text-align: center">
                            <div style="font-size: 35px">Dealer Wert:</div>
                            <h1 style="font-size: 150px">{{wertDealer}}</h1>
                        </div>
                    </div>

                    <div id="croupierAuflistung" class="col-9 all">
                        <div class="box-style">
                            <table class="table table-hover">
                                <tr>
                                    <th style="text-decoration: underline; text-decoration-style: solid; font-size: 30px">Karten Dealer</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="karteDealer" v-for="karte in kartenDealer" style="margin-right: 15px;">{{karte}}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="buttons" class="col-3 wrapper">
                <div class="row 1">
                    <div id="stay" class="col wrapper__inner">
                        <button class="wrapper__inner__button" @click="stay" v-if="hitstay">
                            STAY
                        </button>
                    </div>
                </div>
                <div class="row 2">
                    <div id="hit" class="col wrapper__inner" v-if="hitstay">
                        <button class="wrapper__inner__button" @click="hit">
                            HIT
                        </button>
                    </div>
                </div>

                <div class="row 3 pot">
                    <div class="row" v-if="!potValue">
                        <h1 class="error_msg">{{msg}}</h1>
                    </div>
                    <div class="row" v-if="potValue">
                       <div class="col-4">
                           <h1 v-if="displ">
                               Pot: {{pot}}
                           </h1>
                       </div>
                       <div class="col-4">
                           <h1 v-if="displ">
                               Einsatz: {{counter}}
                           </h1>
                       </div>
                       <div class="col-4">
                           <h1 v-if="!ende">
                               Capital: {{capital}}
                           </h1>
                       </div>
                   </div>

                    <div class="row pot__buttons">
                        <button class="pot__buttons__but" @click="submit_value(); neueRunde()" v-if="displ">Submit</button>
                        <button class="pot__buttons__but" @click="counter+=10" v-if="displ">+10</button>
                        <button class="pot__buttons__but" @click="counter+=50" v-if="displ">+50</button>
                        <button class="pot__buttons__but" @click="counter+=100" v-if="displ">+100</button>
                        <button class="pot__buttons__but" @click="reset" v-if="displ">Reset</button>
                    </div>
                </div>

                <div class="row 4">
                    <div id="neueRunde" class="col wrapper__inner">
                        <button class="wrapper__inner__button" @click="neueRundeZwei" v-if="!ende">
                            NEW ROUND
                        </button>
                    </div>
                </div>
                <div class="row 5">

                    <div id="end" class="col wrapper__inner">
                        <button class="wrapper__inner__button" @click="end" v-if="!ende">
                            END
                        </button>
                        <button class="wrapper__inner__button"  @click="start" v-if="ende">
                            START
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer th:replace="fragments/footer"></footer>


    <script src="assets/js/script.js"></script>
</div>
</body>
</html>

