<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head"></head>

<body class="" th:classappend="${isLightTheme} ? light">
<div id="body">

    <header th:replace="fragments/header"></header>

    <menu>
        <div class="offset-11 col-1" style="user-select: None;">
            <label>
                <span class="icon_fa" id="symbol" style="color:var(--color-one);" >&#xf186;</span>
                <input checked id="switch" onclick="setClassToBody()" type="checkbox" >
            </label>
            <label class="" for="switch" id="label"></label>
        </div>
    </menu>


    <main th:fragment="home" id="spielfeld">
        <div class="row home">
            <div class="col-6 box__style box__style__1">
                <button class="box__style__home" ><a class="box__style__home__but" href="blackjack" >BlackJack</a></button>
            </div>
            <div class="col-6 box__style box__style__2">
                <button class="box__style__home" ><a class="box__style__home__but" href="placeholder" >Placeholder</a></button>
            </div>
        </div>
    </main>


    <footer th:replace="fragments/footer" ></footer>


    <script src="assets/js/script.js"></script>
</div>
</body>
</html>