<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head"></head>

<body class="" th:classappend="${isLightTheme} ? light">
<div id="body" class=".container">

    <header th:replace="fragments/header"></header>

    <menu th:replace="fragments/menu"></menu>


    <main th:fragment="placeholder" id="spielfeld">
        <div class="row placeholder">
            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <div class="placeholder__tanzflaeche">
                <div id="bild1" class="bild">
                    <div class="m vier 5">
                        <div class="y__m__1-5   x__m__4-5 common">7</div>
                        <div class="y__m__4-5   x__m__4-5 common">8</div>
                    </div>
                    <div class="m drei">
                        <div class="y__0        x__m__3 common">6</div>
                        <div class="y__m__3     x__m__3 common">3</div>
                        <div class="y__m__6     x__m__3 common">5</div>
                    </div>
                    <div class="m eins 5">
                        <div class="y__m__1-5   x__m__1-5 common">2</div>
                        <div class="y__m__4-5   x__m__1-5 common">4</div>
                    </div>
                    <div class="null">
                        <div class="y__m__3     x__0 common">1</div>
                    </div>
                </div>
                <div id="bild2" class="bild">
                    <div class="p eins">
                        <div class="y__p__4-5   x__p__1 common">7</div>
                        <div class="y__p__1     x__p__1 common">3</div>
                        <div class="y__m__2-5   x__p__1 common">8</div>
                    </div>
                    <div class="p zwei 5">
                        <div class="y__p__6     x__p__2-5 common">6</div>
                        <div class="y__p__3     x__p__2-5 common">2</div>
                        <div class="y__m__1     x__p__2-5 common">4</div>
                        <div class="y__m__4     x__p__2-5 common">5</div>
                    </div>
                    <div class="p vier">
                        <div class="y__p__1     x__p__4 common">1</div>
                    </div>
                </div>
                <div id="bild3" class="bild">
                    <div class="null">
                        <div class="y__p__3-5   x__0 common">7</div>
                        <div class="y__0        x__0 common">3</div>
                        <div class="y__m__3-5   x__0 common">8</div>
                    </div>
                    <div class="p eins 5">
                        <div class="y__p__5     x__p__1-5 common">6</div>
                        <div class="y__p__2     x__p__1-5 common">2</div>
                        <div class="y__m__2     x__p__1-5 common">4</div>
                        <div class="y__m__5     x__p__1-5 common">5</div>
                    </div>
                    <div class="p drei">
                        <div class="y__0        x__p__3 common">1</div>
                    </div>
                </div>
                <div id="bild4" class="bild">
                    <div class="p zwei">
                        <div class="y__0        x__p__2 common">7</div>
                    </div>
                    <div class="p drei">
                        <div class="y__p__1-5   x__p__3 common">6</div>
                        <div class="y__m__1-5   x__p__3 common">3</div>
                    </div>
                    <div class="p vier">
                        <div class="y__0        x__p__4 common">2</div>
                        <div class="y__m__3     x__p__4 common">8</div>
                    </div>
                    <div class="p fünf">
                        <div class="y__m__1-5   x__p__5 common">1</div>
                        <div class="y__m__4-5   x__p__5 common">5</div>
                    </div>
                    <div class="p sechs">
                        <div class="y__m__3     x__p__6 common">4</div>
                    </div>
                </div>
                <div id="bild5" class="bild">
                    <div class="p drei">
                        <div class="y__p__3     x__p__3 common">7</div>
                        <div class="y__p__1     x__p__3 common">3</div>
                        <div class="y__m__1     x__p__3 common">8</div>
                        <div class="y__m__3     x__p__3 common">5</div>
                    </div>
                    <div class="p fünf">
                        <div class="y__p__4     x__p__5 common">6</div>
                        <div class="y__p__2     x__p__5 common">2</div>
                        <div class="y__0        x__p__5 common">1</div>
                        <div class="y__m__2     x__p__5 common">4</div>
                    </div>
                </div>
                <div id="bild6" class="bild">
                    <div class="m vier 5">
                    <div class="y__0        x__m__4-5 common">7</div>
                    <div class="y__m__3     x__m__4-5 common">8</div>
                </div>
                    <div class="m drei">
                        <div class="y__m__1-5   x__m__3 common">3</div>
                        <div class="y__m__4-5   x__m__3 common">5</div>
                    </div>
                    <div class="m eins 5">
                        <div class="y__0        x__m__1-5 common">6</div>
                        <div class="y__m__3     x__m__1-5 common">1</div>
                    </div>
                    <div class="null">
                        <div class="y__m__1-5   x__0 common">2</div>
                        <div class="y__m__4-5   x__0 common">4</div>
                    </div>
                </div>
                <div id="bild7" class="bild">
                    <div class="null">
                        <div class="y__p__4-5   x__0 common">7</div>
                        <div class="y__p__1-5   x__0 common">3</div>
                        <div class="y__m__1-5   x__0 common">8</div>
                    </div>
                    <div class="p zwei">
                        <div class="y__p__3     x__p__2 common">6</div>
                        <div class="y__0        x__p__2 common">1</div>
                        <div class="y__m__3     x__p__2 common">5</div>
                    </div>
                    <div class="p vier">
                        <div class="y__p__1-5   x__p__4 common">2</div>
                        <div class="y__m__1-5   x__p__4 common">4</div>
                    </div>
                </div>
                <div id="bild8" class="bild">
                    <div class="zwei">
                        <div class="y__p__4-5   x__p__2 common">7</div>
                        <div class="y__p__1-5   x__p__2 common">3</div>
                        <div class="y__m__1-5   x__p__2 common">8</div>
                    </div>
                    <div class="p vier">
                        <div class="y__p__3     x__p__4 common">6</div>
                        <div class="y__0        x__p__4 common">1</div>
                        <div class="y__m__3     x__p__4 common">5</div>
                    </div>
                    <div class="p sechs">
                        <div class="y__p__1-5   x__p__6 common">2</div>
                        <div class="y__m__1-5   x__p__6 common">4</div>
                    </div>
                </div>
                <div id="bild9" class="bild">
                    <div class="null">
                        <div class="y__p__3   x__0 common">3</div>
                        <div class="y__0        x__0 common">8</div>
                    </div>
                    <div class="zwei">
                        <div class="y__p__4-5   x__p__2 common">7</div>
                        <div class="y__p__1-5   x__p__2 common">1</div>
                        <div class="y__m__1-5   x__p__2 common">5</div>
                    </div>
                    <div class="p vier">
                        <div class="y__p__3     x__p__4 common">6</div>
                        <div class="y__0        x__p__4 common">4</div>
                    </div>
                    <div class="p sechs">
                        <div class="y__p__1-5   x__p__6 common">2</div>
                    </div>
                </div>
                <div id="bild10" class="bild">
                    <div class="m eins 5">
                        <div class="y__p__1-5   x__m__1-5 common">3</div>
                        <div class="y__m__1-5   x__m__1-5 common">8</div>
                    </div>
                    <div class="null">
                        <div class="y__p__3     x__0 common">7</div>
                        <div class="y__0        x__0 common">1</div>
                        <div class="y__m__3     x__0 common">5</div>
                    </div>
                    <div class="p vier">
                        <div class="y__p__3     x__p__4 common">6</div>
                        <div class="y__0        x__p__4 common">4</div>
                    </div>
                    <div class="p sechs">
                        <div class="y__p__1-5   x__p__6 common">2</div>
                    </div>
                </div>
                <div id="bild11" class="bild">
                    <div class="m eins 5">
                        <div class="y__p__1-5   x__m__1-5 common">3</div>
                        <div class="y__m__1-5   x__m__1-5 common">8</div>
                    </div>
                    <div class="null">
                        <div class="y__p__3     x__0 common">7</div>
                        <div class="y__0        x__0 common">1</div>
                        <div class="y__m__3     x__0 common">5</div>
                    </div>
                    <div class="p eins 5">
                        <div class="y__p__1-5   x__p__1-5 common">6</div>
                        <div class="y__m__1-5   x__p__1-5 common">4</div>
                    </div>
                    <div class="p drei">
                        <div class="y__0        x__p__3 common">2</div>
                    </div>
                </div>
                <div id="bild12" class="bild">
                    <div class="m vier">
                        <div class="y__p__1     x__m__4 common">3h</div>
                        <div class="y__m__1     x__m__4 common">8h</div>
                    </div>
                    <div class="m drei">
                        <div class="y__p__2     x__m__3 common">7h</div>
                        <div class="y__p__1     x__m__3 common">3d</div>
                        <div class="y__0        x__m__3 common">1h</div>
                        <div class="y__m__1     x__m__3 common">8d</div>
                        <div class="y__m__2     x__m__3 common">5h</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__p__2     x__m__2 common">7d</div>
                        <div class="y__p__1     x__m__2 common">6h</div>
                        <div class="y__0        x__m__2 common">1d</div>
                        <div class="y__m__1     x__m__2 common">4h</div>
                        <div class="y__m__2     x__m__2 common">5d</div>
                    </div>
                    <div class="m eins">
                        <div class="y__p__1     x__m__1 common">6d</div>
                        <div class="y__0        x__m__1 common">2h</div>
                        <div class="y__m__1     x__m__1 common">4d</div>
                    </div>
                    <div class="null">
                        <div class="y__0        x__0 common">2d</div>
                    </div>
                </div>
                <div id="bild13" class="bild">
                    <div class="m eins 5">
                        <div class="y__p__1-5   x__m__1-5 common">3</div>
                        <div class="y__m__1-5   x__m__1-5 common">8</div>
                    </div>
                    <div class="null">
                        <div class="y__p__3     x__0 common">7</div>
                        <div class="y__0        x__0 common">1</div>
                        <div class="y__m__3     x__0 common">5</div>
                    </div>
                    <div class="p eins 5">
                        <div class="y__p__1-5   x__p__1-5 common">6</div>
                        <div class="y__m__1-5   x__p__1-5 common">4</div>
                    </div>
                    <div class="p drei">
                        <div class="y__0        x__p__3 common">2</div>
                    </div>
                </div>
                <div id="bild14" class="bild">
                    <div class="m drei">
                        <div class="y__p__1     x__m__3 common">3</div>
                        <div class="y__m__3     x__m__3 common">8</div>
                    </div>
                    <div class="m eins">
                        <div class="y__p__3     x__m__1 common">7</div>
                        <div class="y__m__1     x__m__1 common">1</div>
                    </div>
                    <div class="p eins">
                        <div class="y__p__1     x__p__1 common">2</div>
                        <div class="y__m__3     x__p__1 common">5</div>
                    </div>
                    <div class="p drei">
                        <div class="y__p__3     x__p__3 common">6</div>
                        <div class="y__m__1     x__p__3 common">4</div>
                    </div>
                </div>
                <div id="bild15" class="bild">
                    <div class="m sieben">
                        <div class="y__p__1     x__m__7 common">3</div>
                    </div>
                    <div class="m fünf">
                        <div class="y__m__1     x__m__5 common">8</div>
                    </div>
                    <div class="m drei">
                        <div class="y__p__1     x__m__3 common">7</div>
                    </div>
                    <div class="m eins">
                        <div class="y__m__1     x__m__1 common">1</div>
                    </div>
                    <div class="p eins">
                        <div class="y__p__1     x__p__1 common">2</div>
                    </div>
                    <div class="p drei">
                        <div class="y__m__1     x__p__3 common">5</div>
                    </div>
                    <div class="p fünf">
                        <div class="y__p__1     x__p__5 common">6</div>
                    </div>
                    <div class="p sieben">
                        <div class="y__m__1     x__p__7 common">4</div>
                    </div>
                </div>
                <div id="bild16" class="bild">
                    <div class="m sieben">
                        <div class="y__m__1     x__m__7 common">3</div>
                    </div>
                    <div class="m fünf">
                        <div class="y__p__1     x__m__5 common">8</div>
                    </div>
                    <div class="m drei">
                        <div class="y__m__1     x__m__3 common">7</div>
                    </div>
                    <div class="m eins">
                        <div class="y__p__1     x__m__1 common">1</div>
                    </div>
                    <div class="p eins">
                        <div class="y__m__1     x__p__1 common">2</div>
                    </div>
                    <div class="p drei">
                        <div class="y__p__1     x__p__3 common">5</div>
                    </div>
                    <div class="p fünf">
                        <div class="y__m__1     x__p__5 common">6</div>
                    </div>
                    <div class="p sieben">
                        <div class="y__p__1     x__p__7 common">4</div>
                    </div>
                </div>
                <div id="bild17" class="bild">
                    <div class="m eins">
                        <div class="y__p__4-5   x__m__1 common">3</div>
                        <div class="y__p__1-5   x__m__1 common">7</div>
                        <div class="y__m__1-5   x__m__1 common">2</div>
                        <div class="y__m__4-5   x__m__1 common">6</div>
                    </div>
                    <div class="p eins">
                        <div class="y__p__4-5   x__p__1 common">8</div>
                        <div class="y__p__1-5   x__p__1 common">1</div>
                        <div class="y__m__1-5   x__p__1 common">5</div>
                        <div class="y__m__4-5   x__p__1 common">4</div>
                    </div>
                </div>
                <div id="bild18" class="bild">
                    <div class="m vier">
                        <div class="y__p__3     x__m__4 common">3</div>
                        <div class="y__0        x__m__4 common">7</div>
                        <div class="y__m__3     x__m__4 common">2</div>
                        <div class="y__m__6     x__m__4 common">6</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__p__4-5   x__m__2 common">8</div>
                        <div class="y__p__1-5   x__m__2 common">1</div>
                        <div class="y__m__1-5   x__m__2 common">5</div>
                        <div class="y__m__4-5   x__m__2 common">4</div>
                    </div>
                </div>
                <div id="bild19" class="bild">
                    <div class="m vier">
                        <div class="y__p__3     x__m__4 common">3h</div>
                        <div class="y__0        x__m__4 common">7h</div>
                        <div class="y__m__3     x__m__4 common">2h</div>
                        <div class="y__m__6     x__m__4 common">6h</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__p__4-5   x__m__2 common">8h/3d</div>
                        <div class="y__p__1-5   x__m__2 common">1h/7d</div>
                        <div class="y__m__1-5   x__m__2 common">5h/2d</div>
                        <div class="y__m__4-5   x__m__2 common">4h/6d</div>
                    </div>
                    <div class="null">
                        <div class="y__p__6     x__0 common">8d</div>
                        <div class="y__p__3     x__0 common">1d</div>
                        <div class="y__0        x__0 common">5d</div>
                        <div class="y__m__3     x__0 common">4d</div>
                    </div>
                </div>
                <div id="bild20" class="bild">
                    <div class="m fünf">
                        <div class="y__p__3     x__m__5 common">3h</div>
                        <div class="y__0        x__m__5 common">7h</div>
                        <div class="y__m__3     x__m__5 common">2h</div>
                        <div class="y__m__6     x__m__5 common">6h</div>
                    </div>
                    <div class="m drei">
                        <div class="y__p__4-5   x__m__3 common">8h</div>
                        <div class="y__p__1-5   x__m__3 common">1h</div>
                        <div class="y__m__1-5   x__m__3 common">5h</div>
                        <div class="y__m__4-5   x__m__3 common">4h</div>
                    </div><div class="m zwei">
                    <div class="y__p__4-5   x__m__2 common">3d</div>
                    <div class="y__p__1-5   x__m__2 common">7d</div>
                    <div class="y__m__1-5   x__m__2 common">2d</div>
                    <div class="y__m__4-5   x__m__2 common">6d</div>
                </div>
                    <div class="null">
                        <div class="y__p__6     x__0 common">8d</div>
                        <div class="y__p__3     x__0 common">1d</div>
                        <div class="y__0        x__0 common">5d</div>
                        <div class="y__m__3     x__0 common">4d</div>
                    </div>
                </div>
                <div id="bild21" class="bild">
                    <div class="m fünf">
                        <div class="y__m__1     x__m__5 common">2h</div>
                    </div>
                    <div class="m vier">
                        <div class="y__0        x__m__4 common">7h</div>
                    </div>
                    <div class="m drei">
                        <div class="y__p__1     x__m__3 common">3h</div>
                        <div class="y__m__3     x__m__3 common">6h</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__p__2     x__m__2 common">8h</div>
                        <div class="y__m__2     x__m__2 common">4h</div>
                    </div>
                    <div class="m eins">
                        <div class="y__p__2     x__m__1 common">2d</div>
                        <div class="y__m__1     x__m__1 common">5h</div>
                    </div>
                    <div class="null">
                        <div class="y__p__3     x__0 common">7d</div>
                        <div class="y__0        x__0 common">1h</div>
                    </div>
                    <div class="p eins">
                        <div class="y__p__4     x__p__1 common">3d</div>
                        <div class="y__0        x__p__1 common">6d</div>
                    </div>
                    <div class="p zwei">
                        <div class="y__p__5     x__p__2 common">8d</div>
                        <div class="y__p__1     x__p__2 common">4d</div>
                    </div>
                    <div class="p drei">

                        <div class="y__p__2     x__p__3 common">5d</div>
                    </div>
                    <div class="p vier">
                        <div class="y__p__3     x__p__4 common">1d</div>
                    </div>
                </div>
                <div id="bild22" class="bild">
                    <div class="m eins">
                        <div class="y__p__2     x__m__1 common">2</div>
                    </div>
                    <div class="null">
                        <div class="y__p__3     x__0 common">7</div>
                    </div>
                    <div class="p eins">
                        <div class="y__p__4     x__p__1 common">3</div>
                        <div class="y__0        x__p__1 common">6</div>
                    </div>
                    <div class="p zwei">
                        <div class="y__p__5     x__p__2 common">8</div>
                        <div class="y__p__1     x__p__2 common">4</div>
                    </div>
                    <div class="p drei">

                        <div class="y__p__2     x__p__3 common">5</div>
                    </div>
                    <div class="p vier">
                        <div class="y__p__3     x__p__4 common">1</div>
                    </div>
                </div>
                <div id="bild23" class="bild">
                    <div class="m eins">
                        <div class="y__p__3     x__m__1 common">2d</div>
                    </div>
                    <div class="null">
                        <div class="y__p__4     x__0    common">7d</div>
                        <div class="y__p__2     x__0    common">2h</div>
                    </div>
                    <div class="p eins">
                        <div class="y__p__5     x__p__1 common">3d</div>
                        <div class="y__p__3     x__p__1 common">7h</div>
                        <div class="y__p__1     x__p__1 common">6d</div>
                    </div>
                    <div class="p zwei">
                        <div class="y__p__6     x__p__2 common">8d</div>
                        <div class="y__p__4     x__p__2 common">3h</div>
                        <div class="y__p__2     x__p__2 common">4d</div>
                        <div class="y__0        x__p__2 common">6h</div>
                    </div>
                    <div class="p drei">
                        <div class="y__p__5     x__p__3 common">8h</div>
                        <div class="y__p__3     x__p__3 common">5d</div>
                        <div class="y__p__1     x__p__3 common">4h</div>
                    </div>
                    <div class="p vier">
                        <div class="y__p__4     x__p__4 common">1d</div>
                        <div class="y__p__2     x__p__4 common">5h</div>
                    </div>
                    <div class="p fünf">
                        <div class="y__p__3     x__p__5 common">1h</div>
                    </div>
                </div>
                <div id="bild24" class="bild">
                    <div class="m drei">
                        <div class="y__p__3     x__m__3 common">2d</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__p__4     x__m__2    common">7d</div>
                        <div class="y__p__2     x__m__2    common">2h</div>
                    </div>
                    <div class="m eins">
                        <div class="y__p__5     x__m__1 common">3d</div>
                        <div class="y__p__3     x__m__1 common">7h</div>
                        <div class="y__p__1     x__m__1 common">6d</div>
                    </div>
                    <div class="null">
                        <div class="y__p__6     x__0    common">8d</div>
                        <div class="y__p__4     x__0    common">3h</div>
                        <div class="y__p__2     x__0    common">4d</div>
                        <div class="y__0        x__0    common">6h</div>
                    </div>
                    <div class="p eins">
                        <div class="y__p__5     x__p__1 common">8h</div>
                        <div class="y__p__3     x__p__1 common">5d</div>
                        <div class="y__p__1     x__p__1 common">4h</div>
                    </div>
                    <div class="p zwei">
                        <div class="y__p__4     x__p__2 common">1d</div>
                        <div class="y__p__2     x__p__2 common">5h</div>
                    </div>
                    <div class="p drei">
                        <div class="y__p__3     x__p__3 common">1h</div>
                    </div>
                </div>
                <div id="bild25" class="bild">
                    <div class="m fünf">
                        <div class="y__p__6     x__m__5 common">3</div>
                        <div class="y__p__2     x__m__5 common">7</div>
                        <div class="y__m__2     x__m__5 common">6</div>
                    </div>
                    <div class="m drei">
                        <div class="y__0        x__m__3 common">2</div>
                    </div>
                    <div class="m eins">
                        <div class="y__p__6     x__m__1 common">8</div>
                        <div class="y__p__2     x__m__1 common">1</div>
                        <div class="y__m__2     x__m__1 common">4</div>
                    </div>
                    <div class="p eins">
                        <div class="y__0        x__p__1 common">5</div>
                    </div>
                </div>
                <div id="bild26" class="bild">
                    <div class="m vier">
                        <div class="y__p__4     x__m__4 common">3</div>
                        <div class="y__0        x__m__4 common">7</div>
                        <div class="y__m__4     x__m__4 common">6</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__m__2     x__m__2 common">2</div>
                    </div>
                    <div class="null">
                        <div class="y__p__4     x__0 common">8</div>
                        <div class="y__0        x__0 common">1</div>
                        <div class="y__m__4     x__0 common">4</div>
                    </div>
                    <div class="p zwei">
                        <div class="y__m__2     x__p__2 common">5</div>
                    </div>
                </div>
                <div id="bild27" class="bild">
                    <div class="p null 5">
                        <div class="y__m__1-5   x__p__0-5 common">7</div>
                        <div class="y__m__4-5   x__p__0-5 common">6</div>
                    </div>
                    <div class="p zwei">
                        <div class="y__0        x__p__2 common">3</div>
                        <div class="y__m__3     x__p__2 common">2</div>
                        <div class="y__m__6     x__p__2 common">4</div>
                    </div>
                    <div class="p drei 5">
                        <div class="y__m__1-5   x__p__3-5 common">8</div>
                        <div class="y__m__4-5   x__p__3-5 common">5</div>
                    </div>
                    <div class="p fünf">
                        <div class="y__m__3     x__p__5 common">1</div>
                    </div>
                </div>
                <div id="bild28" class="bild">
                    <div class="m eins 5">
                        <div class="y__m__0-5   x__m__1-5 common">7</div>
                        <div class="y__m__3-5   x__m__1-5 common">6</div>
                    </div>
                    <div class="null">
                        <div class="y__p__1     x__0 common">3</div>
                        <div class="y__m__2     x__0 common">2</div>
                        <div class="y__m__5     x__0 common">4</div>
                    </div>
                    <div class="p eins 5">
                        <div class="y__m__0-5   x__p__1-5 common">8</div>
                        <div class="y__m__3-5   x__p__1-5 common">5</div>
                    </div>
                    <div class="p drei">
                        <div class="y__m__2     x__p__3 common">1</div>
                    </div>
                </div>
                <div id="bild29" class="bild">
                    <div class="m drei">
                        <div class="y__0        x__m__3 common">6</div>
                        <div class="y__m__2     x__m__3 common">4</div>
                    </div>
                    <div class="m eins">
                        <div class="y__p__2     x__m__1 common">7</div>
                        <div class="y__0        x__m__1 common">2</div>
                        <div class="y__m__2     x__m__1 common">5</div>
                    </div>
                    <div class="p eins">
                        <div class="y__p__2     x__p__1 common">3</div>
                        <div class="y__0        x__p__1 common">8</div>
                        <div class="y__m__2     x__p__1 common">1</div>
                    </div>
                </div>
                <div id="bild30" class="bild">
                    <div class="m vier 5">
                        <div class="y__p__3     x__m__4-5 common">6</div>
                        <div class="y__0        x__m__4-5 common">4</div>
                    </div>
                    <div class="m drei">
                        <div class="y__p__4-5   x__m__3 common">7</div>
                        <div class="y__p__1-5   x__m__3 common">2</div>
                    </div>
                    <div class="m eins 5">
                        <div class="y__p__3     x__m__1-5 common">8</div>
                        <div class="y__0        x__m__1-5 common">5</div>
                    </div>
                    <div class="null">
                        <div class="y__p__4-5   x__0 common">3</div>
                        <div class="y__p__1-5   x__0 common">1</div>
                    </div>
                </div>
                <div id="bild31" class="bild">
                    <div class="m sechs">
                        <div class="y__p__4-5   x__m__6 common">6</div>
                        <div class="y__p__1-5   x__m__6 common">4</div>
                    </div>
                    <div class="m vier 5">
                        <div class="y__p__6     x__m__4-5 common">7</div>
                        <div class="y__p__3     x__m__4-5 common">2</div>
                    </div>
                    <div class="m drei">
                        <div class="y__p__4-5   x__m__3 common">8</div>
                        <div class="y__p__1-5   x__m__3 common">5</div>
                    </div>
                    <div class="m eins 5">
                        <div class="y__p__6     x__m__1-5 common">3</div>
                        <div class="y__p__3     x__m__1-5 common">1</div>
                    </div>
                </div>
                <div id="bild32" class="bild">
                    <div class="m fünf">
                        <div class="y__p__4-5   x__m__5 common">6</div>
                        <div class="y__p__1-5   x__m__5 common">4</div>
                    </div>
                    <div class="m drei 5">
                        <div class="y__p__6     x__m__3-5 common">7</div>
                        <div class="y__p__3     x__m__3-5 common">2</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__p__4-5   x__m__2 common">8</div>
                        <div class="y__p__1-5   x__m__2 common">5</div>
                    </div>
                    <div class="m null 5">
                        <div class="y__p__6     x__m__0-5 common">3</div>
                        <div class="y__p__3     x__m__0-5 common">1</div>
                    </div>
                </div>
                <div id="bild33" class="bild">
                    <div class="m fünf">
                        <div class="y__p__4-5   x__m__5 common">6</div>
                        <div class="y__p__1-5   x__m__5 common">4</div>
                    </div>
                    <div class="m drei 5">
                        <div class="y__p__6     x__m__3-5 common">7</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__p__4-5   x__m__2 common">8</div>
                    </div>
                    <div class="m null 5">
                        <div class="y__p__6     x__m__0-5 common">3</div>
                    </div>
                    <div class="null">
                        <div class="y__m__2     x__0 common">2</div>
                    </div>
                    <div class="p zwei">
                        <div class="y__m__1     x__p__2 common">1</div>
                        <div class="y__m__3     x__p__2 common">5</div>
                    </div>
                </div>
                <div id="bild34" class="bild">
                    <div class="m fünf">
                        <div class="y__p__4-5   x__m__5 common">6</div>
                        <div class="y__p__1-5   x__m__5 common">4</div>
                    </div>
                    <div class="m drei 5">
                        <div class="y__p__6     x__m__3-5 common">7</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__p__4-5   x__m__2 common">8</div>
                    </div>
                    <div class="m null 5">
                        <div class="y__p__6     x__m__0-5 common">3</div>
                    </div>
                    <div class="p eins">

                        <div class="y__p__4-5     x__p__1 common">2</div>
                    </div>
                    <div class="p zwei">
                        <div class="y__m__1     x__p__2 common">1</div>
                        <div class="y__m__3     x__p__2 common">5</div>
                    </div>
                </div>
                <div id="bild35" class="bild">
                    <div class="null">
                        <div class="y__0        x__0 common">6</div>
                    </div>
                    <div class="p eins 5">
                        <div class="y__p__3     x__p__1-5 common">7</div>
                        <div class="y__0        x__p__1-5 common">8</div>
                        <div class="y__m__3     x__p__1-5 common">4</div>
                    </div>
                    <div class="p drei">
                        <div class="y__p__4-5   x__p__3 common">3</div>
                        <div class="y__p__1-5   x__p__3 common">2</div>
                        <div class="y__m__1-5   x__p__3 common">1</div>
                        <div class="y__m__4-5   x__p__3 common">5</div>
                    </div>
                </div>
                <div id="bild36" class="bild">
                    <div class="eins">
                        <div class="y__0        x__p__1 common">6</div>
                    </div>
                    <div class="p zwei 5">
                        <div class="y__p__3     x__p__2-5 common">7</div>
                        <div class="y__0        x__p__2-5 common">8</div>
                        <div class="y__m__3     x__p__2-5 common">4</div>
                    </div>
                    <div class="p vier">
                        <div class="y__p__4-5   x__p__4 common">3</div>
                        <div class="y__p__1-5   x__p__4 common">2</div>
                        <div class="y__m__1-5   x__p__4 common">1</div>
                        <div class="y__m__4-5   x__p__4 common">5</div>
                    </div>
                </div>
                <div id="bild37" class="bild">
                    <div class="p eins 5">
                        <div class="y__p__4-5   x__p__1-5 common">6h</div>
                        <div class="y__p__1-5   x__p__1-5 common">4h</div>
                    </div>
                    <div class="p drei">
                        <div class="y__p__6     x__p__3 common">7h</div>
                        <div class="y__p__3     x__p__3 common">8h</div>
                    </div>
                    <div class="p vier 5">
                        <div class="y__p__4-5   x__p__4-5 common">2h</div>
                        <div class="y__p__1-5   x__p__4-5 common">5h</div>
                    </div>
                    <div class="p sechs">
                        <div class="y__p__6     x__p__6 common">3h</div>
                        <div class="y__p__3     x__p__6 common">1h</div>
                    </div>
                </div>
                <div id="bild38" class="bild">
                    <div class="m drei">
                        <div class="y__m__3     x__m__3 common">4d</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__m__1-5   x__m__2 common">8d</div>
                        <div class="y__m__4-5   x__m__2 common">5d</div>
                    </div>
                    <div class="m eins">
                        <div class="y__0        x__m__1 common">6d</div>
                        <div class="y__m__3     x__m__1 common">1d</div>
                    </div>
                    <div class="null">
                        <div class="y__p__1-5   x__0 common">7d</div>
                        <div class="y__m__1-5   x__0 common">2d</div>
                    </div>
                    <div class="p eins">
                        <div class="y__0        x__p__1 common">3d</div>
                    </div>

                    <div class="p eins 5">
                        <div class="y__p__4-5   x__p__1-5 common">6h</div>
                        <div class="y__p__1-5   x__p__1-5 common">4h</div>
                    </div>
                    <div class="p drei">
                        <div class="y__p__6     x__p__3 common">7h</div>
                        <div class="y__p__3     x__p__3 common">8h</div>
                    </div>
                    <div class="p vier 5">
                        <div class="y__p__4-5   x__p__4-5 common">2h</div>
                        <div class="y__p__1-5   x__p__4-5 common">5h</div>
                    </div>
                    <div class="p sechs">
                        <div class="y__p__6     x__p__6 common">3h</div>
                        <div class="y__p__3     x__p__6 common">1h</div>
                    </div>
                </div>
                <div id="bild39" class="bild">
                    <div class="m vier">
                        <div class="y__m__3     x__m__4 common">4</div>
                    </div>
                    <div class="m drei">
                        <div class="y__m__1-5   x__m__3 common">8</div>
                        <div class="y__m__4-5   x__m__3 common">5</div>
                    </div>
                    <div class="m zwei">
                        <div class="y__0        x__m__2 common">6</div>
                        <div class="y__m__3     x__m__2 common">1</div>
                    </div>
                    <div class="m eins">
                        <div class="y__p__1-5   x__m__1 common">7</div>
                        <div class="y__m__1-5   x__m__1 common">2</div>
                    </div>
                    <div class="null">
                        <div class="y__0        x__0    common">3</div>
                    </div>
                </div>
                <div id="bild40" class="bild">
                    <div class="p eins">
                        <div class="y__0        x__p__1 common">4</div>
                    </div>
                    <div class="p zwei">
                        <div class="y__p__1-5   x__p__2 common">8</div>
                        <div class="y__m__1-5   x__p__2 common">5</div>
                    </div>
                    <div class="p drei">
                        <div class="y__p__3     x__p__3 common">6</div>
                        <div class="y__0        x__p__3 common">1</div>
                    </div>
                    <div class="p vier">
                        <div class="y__p__4-5   x__p__4 common">7</div>
                        <div class="y__p__1-5   x__p__4 common">2</div>
                    </div>
                    <div class="p fünf">
                        <div class="y__p__3     x__p__5 common">3</div>
                    </div>
                </div>
                <div id="bild41" class="bild">
                    <div class="p eins 5">
                        <div class="y__p__3     x__p__1-5 common">7h</div>
                        <div class="y__p__1     x__p__1-5 common">6h</div>
                        <div class="y__m__1     x__p__1-5 common">8h</div>
                        <div class="y__m__3     x__p__1-5 common">4h</div>
                    </div>
                    <div class="p drei">
                        <div class="y__p__3     x__p__3 common">7d</div>
                        <div class="y__p__1     x__p__3 common">6d</div>
                        <div class="y__m__1     x__p__3 common">8d</div>
                        <div class="y__m__3     x__p__3 common">4d</div>
                    </div>
                    <div class="p vier 5">
                        <div class="y__p__3     x__p__4-5 common">3h</div>
                        <div class="y__p__1     x__p__4-5 common">2h</div>
                        <div class="y__m__1     x__p__4-5 common">1h</div>
                        <div class="y__m__3     x__p__4-5 common">5h</div>
                    </div>
                    <div class="p sechs">
                        <div class="y__p__3     x__p__6 common">3d</div>
                        <div class="y__p__1     x__p__6 common">2d</div>
                        <div class="y__m__1     x__p__6 common">1d</div>
                        <div class="y__m__3     x__p__6 common">5d</div>
                    </div>
                </div>
            </div>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </main>


<!--    <footer th:replace="fragments/footer" ></footer>-->
    <script src="assets/js/script.js"></script>
</div>
</body>
</html>